<center>
<h1>Bulk Discount #<%= @bulk_discount.id %></h1>
<p><%= @bulk_discount.item.name %></p>
<%= link_to 'Edit Discount', edit_merchant_bulk_discount_path %>
<%= button_to "Delete Discount", merchant_bulk_discount_path, method: "delete" %> 
<p>Discount: <%= number_to_percentage(@bulk_discount.discount) %></p>
<p>Required Quantity: <%= @bulk_discount.quantity %></p>
</center>